* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  /* top: 0;
  overflow: hidden;
  position: fixed; */
  z-index: 1;
}

.navbar-top {
  width: 100vw;
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(to right, rgb(194, 255, 179), rgb(131, 255, 100));
  overflow: hidden;
  box-shadow: 0px 5px 5px rgb(245, 245, 245);
  z-index: 2;
}

.navbar-top-search {
  width: 14cm;
  height: 40px;
  border: none;
  border-radius: 30px;
  text-indent: 20px;
  outline: none;
}

.navbar-top-search::placeholder {
  opacity: 15%;
  font-weight: 600;
}

.navbar-top-items {
  list-style: none;
  gap: 35px;
}

.navbar-login>a {
  color: rgba(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  border-radius: 15px;
  transition: all 0.3s ease;
  list-style: none;
  text-transform: uppercase;
}

:is(.navbar-top-item, .navbar-bottom, .navbar-top-items, .navbar-bottom-items, .material-symbols-rounded, .material-symbols-outlined) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-top-item,
.navbar-bottom-item,
.navbar-login,
.navbar-top-photo {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.navbar-top-item>a,
.material-symbols-rounded,
.material-symbols-outlined {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 30px;
}

:is(.navbar-top-item, .navbar-login):hover {
  transform: scale(1.2);
  background-color: rgb(114, 238, 83);
  border-radius: 50%;
  padding: 8px;
}

.navbar-top-photo{
  display: flex;
  clip-path: circle(40%);
  height: 60px;
  width: 60px;
}

.navbar-top-photo:hover{
  scale: 1.2;
}

.navbar-bottom {
  width: 100vw;
  height: 7vh;
  border: solid 1px rgb(235, 235, 235);
  background-color: white;
}

.navbar-bottom-items {
  list-style: none;
  gap: 150px;
  font-weight: bold;
}

.navbar-bottom-item {
  text-decoration: none;
  color: rgb(107, 236, 75);
  font-size: 16px;
}

.navbar-bottom-item:hover {
  transform: scale(1.2);
}