<link rel="stylesheet" href="~/css/about.css">
@{
    ViewData["Title"] = "Sobre nós";
}


<main>
    <div class="header">
        <img src="~/img/logo.png" alt="" srcset="">
        <h1>Sobre nós</h1>
    </div>
    
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Unde est fugiat rem vero pariatur qui vel ex non at! Labore, et. 
        Alias molestias eius officiis facilis nulla temporibus aspernatur autem?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Unde est fugiat rem vero pariatur qui vel ex non at! Labore, et. 
        Alias molestias eius officiis facilis nulla temporibus aspernatur autem?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Unde est fugiat rem vero pariatur qui vel ex non at! Labore, et. 
        Alias molestias eius officiis facilis nulla temporibus aspernatur autem?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Unde est fugiat rem vero pariatur qui vel ex non at! Labore, et. 
        Alias molestias eius officiis facilis nulla temporibus aspernatur autem?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Unde est fugiat rem vero pariatur qui vel ex non at! Labore, et. 
        Alias molestias eius officiis facilis nulla temporibus aspernatur autem?
    </p>
</main>