<link rel="stylesheet" href="~/css/about.css">
@{
    ViewData["Title"] = "Sobre nós";
}


<main>
    <div class="header">
        <h1>Sobre nós</h1>
        <img src="~/img/logo.png" alt="" srcset="">
    </div>
    
    <p>
        Bem-vindo(a) ao nosso site de receitas veganas! Aqui, estamos comprometidos em fornecer uma variedade deliciosa de pratos veganos que irão satisfazer o seu paladar e nutrir o seu corpo, tudo isso enquanto respeitamos o meio ambiente e os animais.
    </p>

    <p>
        Nossa missão é mostrar que a culinária vegana vai muito além de uma dieta restritiva. Acreditamos que é possível criar pratos incríveis, cheios de sabor e textura, sem utilizar ingredientes de origem animal. Queremos que todos experimentem a alegria e os benefícios de uma alimentação vegana, independentemente de serem veganos ou não.
    </p>

    <p>
        Nosso objetivo é inspirar e capacitar as pessoas a adotarem um estilo de vida baseado em plantas, fornecendo receitas acessíveis, fáceis de fazer e cheias de sabor. Queremos compartilhar o conhecimento e as técnicas necessárias para criar pratos veganos deliciosos, desde refeições rápidas do dia a dia até pratos elaborados para ocasiões especiais.
    </p>

    <p>
        Ao explorar o nosso site, você encontrará uma variedade de receitas veganas nutritivas e equilibradas. Nossas opções incluem pratos principais, acompanhamentos, sobremesas e até mesmo opções para café da manhã e lanches. Cada receita é cuidadosamente desenvolvida para garantir que você obtenha todos os nutrientes essenciais de uma alimentação equilibrada.
    </p>

    <p>
        Acreditamos que a escolha de uma dieta baseada em plantas é uma forma poderosa de cuidar da nossa saúde e do planeta. Ao optar por pratos veganos, você estará reduzindo sua pegada ambiental, diminuindo a exploração animal e promovendo um estilo de vida mais sustentável.
    </p>

    <p>
        Nós valorizamos a diversidade e a inclusão, e nossa comunidade é composta por pessoas de diferentes origens e níveis de experiência culinária. Queremos que todos se sintam bem-vindos e apoiados em sua jornada para uma alimentação mais consciente.
    </p>

    <p>
        Então, junte-se a nós e explore o mundo saboroso e vibrante da culinária vegana. Estamos aqui para fornecer a inspiração e as ferramentas necessárias para tornar a sua jornada na cozinha vegana emocionante, repleta de sabores incríveis e de impacto positivo em sua vida e no mundo ao seu redor.
    </p>

    <p class="last">
        Lembre-se: cada escolha que fazemos importa. Vamos cozinhar juntos e criar um futuro mais saudável e compassivo para todos!
    </p>
</main>