*[b-lqecrp9pge]{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

.navbar[b-lqecrp9pge]{
  top: 0;
  overflow: hidden;
  position: fixed;
  z-index: 1;
}

.navbar-top[b-lqecrp9pge]{
  width: 100vw;
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(to right, rgb(194, 255, 179), rgb(131, 255, 100));
  overflow: hidden;
  box-shadow: 0px 5px 5px rgb(245, 245, 245);
  z-index: 2;
}

.navbar-top-search[b-lqecrp9pge]{
  width: 14cm;
  height: 40px;
  border: none;
  border-radius: 30px;
  text-indent: 20px;
  outline: none;
}

.navbar-top-search[b-lqecrp9pge]::placeholder{
  opacity: .20;
  font-weight: 600;
}

.navbar-top-items[b-lqecrp9pge]{
  list-style: none;
  gap: 35px;
}

.navbar-login > a[b-lqecrp9pge]{
  color: #0b9446;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  padding: 7px 34px;
  background:transparent;
  border: solid 1px #0b9446;
  border-radius: 15px;
  transition: all 0.3s ease;
  list-style: none;
  text-transform: uppercase;
}

.navbar-login[b-lqecrp9pge]{
  transition: all 0.3s ease;
}

:is(.navbar-top-item, .navbar-bottom, .navbar-top-items, .navbar-bottom-items, .material-symbols-rounded)[b-lqecrp9pge]{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-top-item[b-lqecrp9pge]{
  flex-direction: column;
}

.navbar-top-item[b-lqecrp9pge], .navbar-bottom-item[b-lqecrp9pge]{
  transition: all 0.3s ease;
  cursor: pointer;
}

.navbar-top-item > a[b-lqecrp9pge], .material-symbols-rounded[b-lqecrp9pge]{ 
  text-decoration: none;
  color: #0b9446;
  font-size: 32px;
}

.material-symbols-rounded[b-lqecrp9pge]{
  font-weight: 500;
  font-variation-settings: 
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

:is(.navbar-top-item, .navbar-bottom-item, .navbar-login):hover[b-lqecrp9pge]{
  transform: scale(1.05);
} 

.navbar-bottom[b-lqecrp9pge]{
  width: 100vw;
  height: 7vh;
  border: solid 1px rgb(235, 235, 235);
  background-color: white;
}

.navbar-bottom-items[b-lqecrp9pge]{
  list-style: none;
  gap: 150px;
  font-weight: bold;
}

.navbar-bottom-item[b-lqecrp9pge]{
  text-decoration: none;
  color: rgb(107, 236, 75);
  font-size: 16px;
}

.navbar-top > img[b-lqecrp9pge]{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
}

