/* _content/Interdisciplinar/Views/Shared/_Layout.cshtml.rz.scp.css */
*[b-lqecrp9pge] {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar[b-lqecrp9pge] {
  top: 0;
  overflow: hidden;
  position: fixed;
  z-index: 1;
}

.navbar-top[b-lqecrp9pge] {
  width: 100vw;
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(to right, rgb(194, 255, 179), rgb(131, 255, 100));
  overflow: hidden;
  box-shadow: 0px 5px 5px rgb(245, 245, 245);
  z-index: 2;
}

.navbar-top-search[b-lqecrp9pge] {
  width: 14cm;
  height: 40px;
  border: none;
  border-radius: 30px;
  text-indent: 20px;
  outline: none;
}

.navbar-top-search[b-lqecrp9pge]::placeholder {
  opacity: 15%;
  font-weight: 600;
}

.navbar-top-items[b-lqecrp9pge] {
  list-style: none;
  gap: 35px;
}

.navbar-login>a[b-lqecrp9pge] {
  color: rgba(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  border-radius: 15px;
  transition: all 0.3s ease;
  list-style: none;
  text-transform: uppercase;
}

:is(.navbar-top-item, .navbar-bottom, .navbar-top-items, .navbar-bottom-items, .material-symbols-rounded, .material-symbols-outlined)[b-lqecrp9pge] {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-top-item[b-lqecrp9pge],
.navbar-bottom-item[b-lqecrp9pge],
.navbar-login[b-lqecrp9pge],
.navbar-top-photo[b-lqecrp9pge] {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.navbar-top-item>a[b-lqecrp9pge],
.material-symbols-rounded[b-lqecrp9pge],
.material-symbols-outlined[b-lqecrp9pge] {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 30px;
}

:is(.navbar-top-item, .navbar-login):hover[b-lqecrp9pge] {
  transform: scale(1.2);
  background-color: rgb(114, 238, 83);
  border-radius: 50%;
  padding: 8px;
}

.navbar-top-photo[b-lqecrp9pge]{
  display: flex;
  clip-path: circle(40%);
  height: 60px;
  width: 60px;
}

.navbar-top-photo:hover[b-lqecrp9pge]{
  scale: 1.2;
}

.navbar-bottom[b-lqecrp9pge] {
  width: 100vw;
  height: 7vh;
  border: solid 1px rgb(235, 235, 235);
  background-color: white;
}

.navbar-bottom-items[b-lqecrp9pge] {
  list-style: none;
  gap: 150px;
  font-weight: bold;
}

.navbar-bottom-item[b-lqecrp9pge] {
  text-decoration: none;
  color: rgb(107, 236, 75);
  font-size: 16px;
}

.navbar-bottom-item:hover[b-lqecrp9pge] {
  transform: scale(1.2);
}
