*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.new-recipe{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top:20vh;
    gap: 20px;
}

.new-recipe-h1{
    
}