* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main,
main>img {
    display: flex;
    align-items: center;
    justify-content: center;
}

main>img {
    width: 14cm;
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-direction: column;
    width: fit-content;
    padding: 40px;
}

h1 {
    font-size: 55px;
    font-weight: bold;
}

.login-section-input {
    width: 9cm;
    height: 40px;
    text-indent: 20px;
    border: solid 1px rgb(235, 235, 235);
    border-radius: 15px;
}

.login-section-h2 {
    font-size: 20px;
}

.login-form>button {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 30px;
    background: linear-gradient(to right, rgb(194, 255, 179), rgb(131, 255, 100));
    border-radius: 15px;
    transition: all 0.3s ease;
    list-style: none;
    text-transform: uppercase;
    border: none;
    margin-top: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

:is(.login-form > button):hover {
    transform: scale(1.1);
}

.login-form-sign-in {
    text-decoration: none;
    color: rgb(92, 202, 64);
    transition: all 0.3s ease;
    font-weight: 600;
    margin-top: 30px;
}

.login-form-sign-in:hover {
    color: rgb(92, 202, 64);
    opacity: .50;
}

.login-section-input::placeholder {
    font-weight: 500;
    opacity: .30;
}