*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    margin-top: 30px;
}

header > img{
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

header, .update-recipe-input{
    display: flex;
    align-items: center;
    justify-content: center;
}

.update-recipe-form{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header{
    gap: 50px;
}

.update-recipe-form{
    flex-direction: column;
    gap: 70px;
    margin-top: 20px;
}

.update-recipe-input{
    flex-direction: column;
}

.update-recipe-label{
    font-size: 28px;
    font-weight: bold;
}

.update-recipe-input > textarea{
    border-radius: 40px;
    border: solid 4px rgb(235,235,235);
    text-align: start;
    text-indent: 30px;
    padding-top: 30px;
    transition: all 0.3s ease-in-out;
}

.update-recipe-input > input, select{
    width: 15cm;
    height:40px;
    border-radius: 15px;
    border: solid 4px rgb(235,235,235);
    text-indent: 30px;
    transition: all 0.3s ease-in-out;
}

button[type="submit"]{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 45px;
    background:linear-gradient(to right, rgb(194, 255, 179), rgb(131, 255, 100));
    border-radius: 30px;
    transition: all 0.3s ease;
    list-style: none;
    text-transform: uppercase;
    border: none;
}

.update-recipe-h1{
    font-size: 55px;
    font-weight: bold;
}

:is(.update-recipe-input > textarea, input)::placeholder{
    font-weight: 600;
    opacity: .30;
}

:is(.update-recipe-input > textarea, input):focus{
    outline-color: rgb(131, 255, 100);
    margin-top: 20px;
    transform: scale(1.1);
}