*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

main > img{
    height: fit-content;
    width: 50vw;
    box-shadow: 5px 0px 10px rgb(205, 205, 205);
}

.register-form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-bottom: 150px;
    margin-top: 150px;
    flex-direction: column;
    width: 50%;
    padding: 30px 60px;
}

h1{
    font-size: 45px;
    font-weight: bold;
}

.register-section-input{
    width: 11cm;
    height: 40px;
    text-indent: 20px;
    border: solid 1px rgb(235,235,235);
    border-radius: 15px;
}

.register-form > button{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 45px;
    background:linear-gradient(to right, rgb(194, 255, 179), rgb(131, 255, 100));
    border-radius: 30px;
    transition: all 0.3s ease;
    list-style: none;
    text-transform: uppercase;
    border: none;
}

.register-form-sign-in{
    text-decoration: none;
    color: rgb(92, 202, 64);
}

.register-section-input::placeholder{
    opacity: .40;
    font-weight: 600;
}

.register-section-h2{
    font-size: 20px;
}

:is(.register-form > button):hover{
    transform: scale(1.1);
}