*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main, h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.main{
    gap: 60px;
}

.main img{
    display: flex;
    width: 450px;
    height: fit-content;
    object-fit: cover;
}

.register-form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-direction: column;
    margin-left: 50px;
}

h1{
    font-size: 55px;
    font-weight: bold;
}

.register-section-input{
    width: 9cm;
    height: 40px;
    text-indent: 20px;
    border: solid 4px rgb(235,235,235);
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}

.register-form > button{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 50px;
    background:linear-gradient(to right, rgb(194, 255, 179), rgb(131, 255, 100));
    border-radius: 30px;
    transition: all 0.3s ease;
    list-style: none;
    text-transform: uppercase;
    border: none;
    margin-top: 30px;
}

.register-form-sign-in{
    text-decoration: none;
    color: rgb(92, 202, 64);
}

.register-section-input::placeholder{
    opacity: .40;
    font-weight: 600;
}

.register-section-h2{
    font-size: 20px;
}

:is(.register-form > button):hover{
    transform: scale(1.1);
}

.register-section-input:focus{
    transform: scale(1.1);
    outline-color: rgb(131, 255, 100);
}