<link rel="stylesheet" href="~/css/register.css" />
@{
    ViewData["Title"] = "Cadastro";
}

<main>
    <h1>Cadastro de Usuário</h1>
    <div class="main">
        <form action="/usuario/create" method="post" class="register-form">
            <section class="register-section">
                <h2 class="register-section-h2">Nome:</h2>
                <input type="text" class="register-section-input" placeholder="Digite seu nome" name="nome">
            </section>

            <section class="register-section">
                <h2 class="register-section-h2">Email:</h2>
                <input type="text" class="register-section-input" placeholder="Digite seu e-mail" name="email">
            </section>
            
            <section class="register-section">
                <h2 class="register-section-h2">Senha:</h2>
                <input type="password" class="register-section-input" placeholder="Digite sua senha" name="senha">
            </section>
            
            <section class="register-section">
                <h2 class="register-section-h2">Idade:</h2>
                <input type="text" class="register-section-input" placeholder="Digite sua idade" name="idade">
            </section>
            
            <section class="register-section">
                <h2 class="register-section-h2">Caminho da foto de perfil:</h2>
                <input type="text" class="register-section-input" placeholder="Caminho da foto" name="imagem">
            </section>

            <button type="submit">Enviar</button>
        </form>
        
        <img src="https://www.pngarts.com/files/3/Vegan-Food-PNG-Photo.png" alt="" srcset="">

    </div>
</main>