@model Usuario

@{
    ViewData["Title"] = $"Usuário {Model.nome}";
}

<h1>@Model.idUsuario</h1>

@* <h1>@Model.seguidor</h1> *@
@* minhas receitas (se tiver) *@
<br>
<br>
<br>
<br>
<br>
<img src="~/@Model.imagem" alt="" srcset="">
<h1>@Model.nome</h1>
<h1>@Model.email</h1>

<a href="/usuario/update/@Model.idUsuario"> Editar Perfil</a>