<link rel="stylesheet" href="~/css/create.css" />
@{
    ViewData["Title"] = "Nova Receita";
}

@* Aba de criação de receitas na index *@
    
    <form action="/receita/create" method="post" class="new-recipe">
        <h1 class="new-recipe-h1">Nova receita</h1>
        <section class="new-recipe-input">
            <input type="text" name="nome" placeholder="Nome da Receita" class="input-input1">
        </section>

        <section class="new-recipe-input">
            <input type="text" class="input-input2" placeholder="Liste os Ingredientes e descreva o modo de preparo." />
        </section>

        <input type="file" name="imagem" id="">

        <button type="submit">Enviar</button>
    </form>