<link rel="stylesheet" href="~/css/create.css">

@{
    ViewData["Title"] = "Nova Receita";
}

<title>@ViewData["Title"]</title>


<form action="/receita/create" method="post" class="new-recipe">
    <h1>Criar nova receita</h1>
    <section class="new-recipe-input">
        <h2 class="input-h2">Nome da Receita</h2>
        <input type="text" name="" placeholder="Nome da Receita" class="input-input1">
    </section>

    <section class="new-recipe-input">
        <h2 class="input-h2">Descrição da receita</h2>
        <textarea   name="" 
                    id="" 
                    cols="30" 
                    rows="10" 
                    class="input-input2" 
                    placeholder="Liste os Ingredientes e descreva o modo de preparo." autofocus spellcheck="auto"></textarea>
    </section>

    <button type="submit">Enviar</button>
</form>
