@model List<Categoria>
<link rel="stylesheet" href="~/css/create.css" />
@{
    ViewData["Title"] = "Nova Receita";
}

@* Aba de criação de receitas na index *@
    
    <main>
        <img src="https://www.vegantravelagent.com/wp-content/uploads/2021/12/healthy-vegan-food-restaurant-in-london-vegan-food-plant-produce-dish-meal-transparent-png-2439241-1024x1006.png" alt="" srcset="">
        
        <form action="/receita/create" method="post" class="new-recipe">
            <h1 class="new-recipe-h1">Nova receita</h1>

            <section class="new-recipe-input">
                <input type="text" name="nome" placeholder="Nome da Receita" class="input-input1">
            </section>

            <section class="new-recipe-input">
                <textarea name="ingredientes" id="" cols="75" rows="10" placeholder="Lista de Ingredientes"></textarea>
            </section>

            <section class="new-recipe-input">
                <textarea name="modoPreparo" id="" cols="75" rows="10" placeholder="Modo de Preparo"></textarea>
            </section>

            <input type="file" name="imagem" id="">

            <section class="new-recipe-input">
                <label for="Categoria">Categoria</label>
                <select name="categoriaId" id="">
                    @if(Model != null)
                    {
                        @foreach (Categoria categoria in Model)
                        {
                            <option value="@categoria.idCategoria">
                                <p>@categoria.nome</p>
                            </option>
                        }
                    }
                </select>
            </section>

            <button type="submit">Enviar</button>
        </form>
    </main>